::ng-deep app-circular-menu {
    .circular-menu-wrapper {
        display: inline-flex;
        text-align: center;
        position: relative;
        background-color: yellow;
        box-sizing: border-box;
        min-width: 2rem;
        align-items: center;
        justify-content: center;

        .circular-menu-icon.disabled {
            cursor: default;
            color: gray!important;
            background-color: #f4f4f4!important;
        }

        .circular-menu-icon {
            cursor: pointer;
            background-color: red;
        }

        .menu-wrapper {
            position:absolute;
            bottom:50%;
            right: 50%;
            list-style: none;
            transform-origin: 100% 100%;

            .wing {
                position:relative;
                background-color: blue;
                color: whitesmoke;
                width: 3rem;
                height: 6rem;
                display: inline-flex;
                align-items: flex-end;
                
                i {
                    font-size: 2rem;
                }
            }
        }
    }
}